@import "tailwindcss";

body{
  background:#faf7ff;
  color:#111827;
  font-family:Arial, Helvetica, sans-serif;
}

.hero-gradient{
  background:linear-gradient(135deg,#6D28D9,#9333EA);
}

.card{
  background:white;
  border-radius:16px;
  box-shadow:0 4px 12px rgba(0,0,0,.08);
  transition:.3s;
}

.card:hover{
  box-shadow:0 12px 24px rgba(0,0,0,.15);
}
